%h2 Results
%div#target
  %table
    %thead
      %tr
        %th.green{:colspan => 2}
          -# %a{:href => '#', :onclick => "update_records(#{@which-1});"} &lt;
          == Target (#{params[:which]})
          %a{:href => '#', :onclick => "update_records(#{@next_id});"} &gt;
      %tr
        %th Label
        %th Value
    %tbody
      - @target.each_with_index do |(name, value), i|
        %tr{:class => i % 2 == 1 ? 'alt' : nil}
          %td.label= name
          %td= value
%div#candidates
  - if !@candidates.empty?
    - num = @candidates.first.length
    %table
      %thead
        %tr
          %th.blue{:colspan => num+1} Candidates
        %tr
          %th Label
          - num.times do |i|
            %th= i+1
      %tbody
        - @candidates.each_with_index do |values, i|
          %tr{:class => i % 2 == 1 ? 'alt' : nil}
            - values.each_with_index do |value, i|
              %td{:class => (i == 0 ? 'label' : nil)}= value
