%h2 Results
%div#target
  %table
    %thead
      %tr
        %th.green{:colspan => 2}
          - if @prev_id
            %a{:href => '#', :onclick => "update_records(#{@prev_id});"} &lt;
          == Target (#{params[:which]})
          - if @next_id
            %a{:href => '#', :onclick => "update_records(#{@next_id});"} &gt;
      %tr
        %th Label
        %th Value
    %tbody
      - @target['_columns'].each_with_index do |name, i|
        %tr{:class => i % 2 == 1 ? 'alt' : nil}
          %td.label= name
          %td= @target[name]
%div#candidates
  - if @candidates.empty?
    No candidates for this target.
  - else
    - num = @candidates.first.length
    %table
      %thead
        %tr
          %th.blue{:colspan => num} Candidates
        %tr
          %th Label
          - (num-1).times do |i|
            %th= i+1
      %tbody
        - @candidates.each_with_index do |values, i|
          %tr{:class => i % 2 == 1 ? 'alt' : nil}
            - values.each_with_index do |value, i|
              %td{:class => (i == 0 ? 'label' : nil)}= value
